Nittoor Vishnu Bharadwaj - 19BCE7478

In [ ]:
import pandas as pd
data_set=pd.read_csv('/content/IRIS_dataset.csv')
data_set.head()

   5.1  3.5  1.4  0.2  setosa
0  4.9  3.0  1.4  0.2  setosa
1  4.7  3.2  1.3  0.2  setosa
2  4.6  3.1  1.5  0.2  setosa
3  5.0  3.6  1.4  0.2  setosa
4  5.4  3.9  1.7  0.4  setosa

In [ ]:
from csv import reader
from math import sqrt
# Load a CSV file
def load_csv(filename):
 dataset = list()
 with open(filename, 'r') as file:
  csv_reader = reader(file)
  for row in csv_reader:
    if not row:
      continue
    dataset.append(row)
 return dataset
# Convert string column to float
def str_column_to_float(dataset, column):
 for row in dataset:
  row[column] = float(row[column].strip())
# Convert string column to integer
def str_column_to_int(dataset, column):
 class_values = [row[column] for row in dataset]
 unique = set(class_values)
 lookup = dict()
 for i, value in enumerate(unique):
    lookup[value] = i
 print('[%s] => %d' % (value, i))
 for row in dataset:
  row[column] = lookup[row[column]]
 return lookup
# Find the min and max values for each column
def dataset_minmax(dataset):
 minmax = list()
 for i in range(len(dataset[0])):
  col_values = [row[i] for row in dataset]
  value_min = min(col_values)
  value_max = max(col_values)
  minmax.append([value_min, value_max])
 return minmax
# Rescale dataset columns to the range 0-1
def normalize_dataset(dataset, minmax):
 for row in dataset:
  for i in range(len(row)):
    row[i] = (row[i] - minmax[i][0]) / (minmax[i][1] - minmax[i][0])
# Calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
 distance = 0.0
 for i in range(len(row1)-1):
  distance += (row1[i] - row2[i])**2
 return sqrt(distance)
# Locate the most similar neighbors
def get_neighbors(train, test_row, num_neighbors):
  distances = list()
  for train_row in train:
    dist = euclidean_distance(test_row, train_row)
    distances.append((train_row, dist))
  distances.sort(key=lambda tup: tup[1])
  neighbors = list()
  for i in range(num_neighbors):
    neighbors.append(distances[i][0])
  return neighbors
# Make a prediction with neighbors
def predict_classification(train, test_row, num_neighbors):
 neighbors = get_neighbors(train, test_row, num_neighbors)
 output_values = [row[-1] for row in neighbors]
 prediction = max(set(output_values), key=output_values.count)
 return prediction
# Make a prediction with KNN on Iris Dataset
#filename = 'iris.csv'
dataset = load_csv('/content/IRIS_dataset.csv')
for i in range(len(dataset[0])-1):
 str_column_to_float(dataset, i)
# convert class column to integers
str_column_to_int(dataset, len(dataset[0])-1)
# define model parameter
num_neighbors = 5
row = [4.4,2.9,1.4,0.2]
# predict the label
label = predict_classification(dataset, row, num_neighbors)
print("Here classes are classified as class-0, class-1, class-2")
# define a new record
print('Data=%s, Predicted class is : %s' % (row, label))

[setosa] => 2
Here classes are classified as class-0, class-1, class-2
Data=[4.4, 2.9, 1.4, 0.2], Predicted class is : 2